<div
  class="fixed hidden backdrop-blur-sm inset-0 bg-gray-900 bg-opacity-50 overflow-y-auto h-full w-full"
  id="add-modal"
>
    <div class="flex flex-col items-center w-full">
        <%- include('new.ejs') %>
    </div>
</div>
