<div class="p-4 bg-gray-800 rounded-sm w-2/6 min-h-min pb-12">
  <div class="flex flex-row justify-between bg-green-400 p-2 text-white text-2xl w-full font-bold">
    <p>Set Appointment</p>
    <div class="p-1" id="close-btn">
      close
  </div>
  </div>
  <form
    action="/appointment"
    method="post"
    class="text-white my-4 relative"
  >
    <div class="flex flex-col py-2">
      <label for="title">Title</label>
      <input
        type="text"
        name="title"
        id="title"
        class="rounded w-full p-2 border-2 border-green-300 bg-gray-700"
      />
    </div>
    <div class="flex flex-col py-2">
      <label for="description">Description</label>
      <textarea
        name="description"
        id="description"
        cols="30"
        rows="5"
        class="rounded w-full p-2 border-2 border-green-300 bg-gray-700"
      ></textarea>
    </div>
    <div class="flex flex-col py-2">
      <label for="date">Date</label>
      <input
        type="date"
        name="date"
        id="date"
        class="rounded w-full p-2 border-2 border-green-300 bg-gray-700"
      />
    </div>
    <div class="flex flex-row py-2">
      <div class="flex flex-col w-full pr-1">
        <label for="time">From</label>
        <input
          type="time"
          name="from"
          id="from"
          class="rounded w-full p-2 border-2 border-green-300 bg-gray-700"
        />
      </div>
      <div class="flex flex-col w-full pl-1">
        <label for="time">To</label>
        <input
          type="time"
          name="to"
          id="to"
          class="rounded w-full p-2 border-2 border-green-300 bg-gray-700"
        />
      </div>
    </div>
    <button type="submit" class="rounded-md bg-green-500 hover:bg-green-400 px-3 py-2 text-xl my-2 absolute right-0">Submit</button>
  </form>
</div>